*{
 list-style: none;
 text-decoration: none;
 margin: 0;
}
body{
   min-height:100vh;
    margin:0; 
    position:relative;
   }

body::after {
    content: '';
    display: block;
    height: 200px; /* Set same as footer's height */
  }
/* navigator styles */
.linkage{
    color:rgb(184, 141, 141);
    margin-right: 1em;
    display: flex;
    align-items: center;
}

.navItems{
    display: flex;
    justify-content: space-between;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 700;
    width: 60%;
    margin:auto ;  
}
.navContainer{
    background-color: rgb(81, 25, 25);
    
}
.linkage:hover{
    color: azure;
}
.logo{
    width: 100px;
}
.navUserEnter{
    display: flex;
    margin-right: 2em;
}

/* ingredients styles */
.ingredients{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1em;
    font-family: 'Edu NSW ACT Foundation', cursive;
} 
.ingredientsHeader{
    width: 100%;
    font-size: 3rem;
    color: #221402;
    margin-bottom: 0.2em;
}
.titleBar{
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}
.titleBarPng{
  width: 25%;
}
.ingredient{
    width: 30%;
    margin-bottom: 6em;
    margin-top: 1em;
    border-radius: 5px;
}

.ingredientsIcons{
  width: 10%;
  text-align: center;
  font-size: 35px;
}
.ingredientHeader{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
.ingredientPara{
    font-size: 2rem;
    font-weight: 300;
    min-width: 17ch;
   max-width: 40ch;
}
.ingredient:hover{
    height: 100%;
    padding: 1em;
    background: #A52A2A;
    transition: 1s;
}

/* loading component */
.logoLoading{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.spinner {
    margin: 350px auto 0 auto;
    width: 70px;
    text-align: center;
  }
  .spinner > div {
    width: 15px;
    height: 15px;
    background-color: brown;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
/* sign up styles */
  .signUpContainer{
    background-color: #A52A2A;
    box-shadow: 4px 0px 48px 0px rgba(166,90,90,0.49);
    margin:2em 20% 2em 20%;
    border-radius: 5px;
    padding: 1em;
  }
  .signUpForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    color:white;
    font-weight: 800;
    font-size: 1.5rem;
  }
  .signUpLabels{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.signUpInput{
    width: 60%;
    padding: 0.4em;
    border: 2px solid #6a4009;
    border-radius: 5px;
    outline: none;
}
  .signUpButton{
    width: 30%;
    margin-top: 1em;
    margin-bottom: 0.3em;
    font-family: 'Edu NSW ACT Foundation', cursive;
    color:white;
    background-color: #6a4009;
    font-size: 1rem;
    font-weight: 800;
    outline: none;
    border: 0px;
    padding: 0.4em;
    border-radius: 5px;
  }
  .googleIcon{
    margin-right: 0.3em;
  }
  .signWithGoogle{
    width:30%;
    margin-left:35% ;
    margin-right:35%  ;
    font-family: 'Edu NSW ACT Foundation', cursive;
    color:white;
    background-color: #6a4009;
    outline: none;
    border: 0px;
    font-size: 0.9rem;
    font-weight: 800;
    padding: 0.4em;
    border-radius: 5px;
  }
  .or{
    font-size: 1.5rem;
    color: white;
    font-family: 'Edu NSW ACT Foundation', cursive;
  }
  .signWithGoogle:hover{
    background-color: rgb(171, 7, 7);
  }
  .signWithGoogle:hover .googleIcon{
    color: black ;
  }
  .signUpButton:hover{
    background-color: rgb(171, 7, 7);
  }
/* log in styles */

.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:2em 20% 2em 20%;
    font-family: 'Edu NSW ACT Foundation', cursive;
    color:white;
    font-weight: 800;
    font-size: 1.5rem;
    background-color: #A52A2A;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 4px 0px 48px 0px rgba(166,90,90,0.49);
}
.loginLabels{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.loginInput{
    width: 60%;
    padding: 0.4em;
    border: 2px solid #6a4009;
    border-radius: 5px;
    outline: none;
}
.loginSubmit{
    width: 30%;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Edu NSW ACT Foundation', cursive;
    color:white;
    background-color: #6a4009;
    font-size: 1rem;
    font-weight: 800;
    outline: none;
    border: 0px;
    padding: 0.4em;
    border-radius: 5px;
}
.loginSubmit:hover{
    background-color: rgb(171, 7, 7);
  }
.wheatIcon{
 transform: rotate(-90deg);
}
.error{
    text-align: center;
    color: #221402;
    font-size: 3rem;
    margin-top: 0.2em;
    font-family: 'Edu NSW ACT Foundation', cursive;
}
/* product styles */
.product{
  width: 30%;
  background-color: brown;
  font-family: 'Edu NSW ACT Foundation', cursive;
  margin-top: 2em;
  margin-bottom:2em;
  border-radius: 5px;
  
}
.productTitle{
  text-align: center;
  color: white;
}
.productDescription{
  flex: 1 0 auto;
  color: white;
  font-weight: 300;
  padding: 0.5em;
}
.productImage{
  width: 100%;
  height: 280px;
}
.productPrice{
  text-align: right;
  font-weight: bold;
}
.addToCart{
width:100%;
background-color: #8b540c;
border:2px solid #472a03;
padding: 1em;
font-family: 'Edu NSW ACT Foundation', cursive;
color: white;
font-size: 1.2rem;
font-weight: 800;
cursor: pointer;
border-bottom-left-radius:5px ;
border-bottom-right-radius:5px ;
}
.addToCart:hover{
  background-color: #221402;
}
/* footer styles */
.footer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    color:white;
    background-image: url(../images/footer.jpg);
    background-color: rgb(51, 51, 51);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    height: 200px;
    border-top-left-radius:5px ;
    border-top-right-radius:5px ;
}
.contactUs{
    width: 40%;
    font-size: 2.5rem;
}
.contactUsHeader{
    text-align: center;
    margin-bottom: 1em;
}
.footerLogo{
    max-height: 200px;
}
.socialIcons{
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}
.socialIcon:hover{
    color:  rgb(205, 129, 30);
  }

.copyRights{
width: 100%;
text-align: center;
font-size: 15px;
margin-top: 3em;
}


/* responsive components */
@media only screen and (max-width:1000px) {
 
 
     .titleBarPng{
       width: 40%;
     }
     .ingredient{
      width: 40%;
      padding: 1em;
      
  }
 }

@media only screen and (max-width:700px) {
  .product{
    width: 70%;
  }
  .navItems{
    width: 90%;
   }
   .titleBarPng{
    width: 50%;
  }
  .ingredient{
    width: 100%;
    padding: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}


}

@media only screen and (max-width:500px) {
 
 .socialIcons{
    font-size: 1.5rem;
  }
  .contactUsHeader{
    font-size: 20px;
}
  .copyRights{
    width: 100%;
    text-align: center;
    font-size: 8px;
    margin-top: 2em;
    }
    .titleBarPng{
      width: 60%;
    }
    .ingredient{
      width: 100%;
      padding: 1em;
  }

}

